@import "tailwindcss";

@theme {
    --font-code: "Ubuntu Mono", monospace;
    --color-code-500: #3DFB35;
    --animate-infinite-scroll: infinite-scroll 140s linear infinite;
    --animate-infinite-reverse: infinite-reverse 140s linear infinite;
    --animate-infinite-row: infinite-row 140s linear infinite;
    --animate-bg-zoom: bg-zoom 1s ease-in forwards;
    @keyframes infinite-scroll {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(-200%);
        }
    }
    @keyframes infinite-reverse {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(200%);
        }
    }
    @keyframes infinite-row {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-200%);
        }
    }
    @keyframes bg-zoom {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.05);
        }

    }
}


@font-face {
    font-family: "Ubuntu Mono";
    src: url("./assets/fonts/UbuntuMono-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("./assets/fonts/UbuntuMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}